[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
opencv-python = "*"
yapf = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
click = "*"
tqdm = "*"


[dev-packages]

pylint = "*"
rope = "*"
black = "*"
mypy = "*"


[requires]

python_version = "3.6"
